{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * SendinBlue plugin for Craft CMS 3.x
 *
 * SendinBlue Settings.twig
 *
 * @author    Sean Hill
 * @copyright Copyright (c) 2020 Sean Hill
 * @link      shorn.co.uk
 * @package   SendinBlue
 * @since     0.0.1
 */
#}


{% set apiKey = settings.apiKey|replace('$', '') %}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("shornuk\\sendinblue\\assetbundles\\sendinblue\\SendinBlueAsset") %}

{% set instructions %}

{% endset %}

{{ forms.autosuggestField({
    label: "API Key"|t('sendinblue'),
    instructions: 'Enter your Sendinblue account API Key <a href="https://help.sendinblue.com/hc/en-us/articles/209467485-What-s-an-API-key-and-how-can-I-get-mine-" class="go" rel="noopener" target="_blank">Learn more</a>',
    warning: (config.apiKey is defined ? macros.configWarning('apiKey')),
    id: 'apiKey',
    name: 'apiKey',
    suggestEnvVars: true,
    suggestions: craft.cp.getEnvSuggestions(),
    value: settings.apiKey,
    errors: settings.getErrors('apiKey'),
    required: true,
}) }}


